[submodule "Libraries/RestKit"]
	path = Libraries/RestKit
	url = git@github.com:TrahDivad/RestKit.git
[submodule "Libraries/nimbus"]
	path = Libraries/nimbus
	url = https://github.com/jverkoey/nimbus.git
